[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
django-cors-headers = "*"
django-tinymce = "*"
django-filter = "*"
psycopg2-binary = "*"
python-dotenv = "*"
whitenoise = "*"
django-cockroachdb = "*"

[dev-packages]

[requires]
python_version = "3.12"
