<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AlgoViz</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .info {
            height: inherit;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }
    </style>
</head>
<body>
<main class="info">
    <h1>Welcome to AlgoViz</h1>
    <a style="" href="https://algo-viz-eight.vercel.app">Let&apos;s Start</a>
</main>
</body>
</html>